<h1 class="heading">Student Registration Form</h1>
<div class="container w-50">
            <form #registrationForm="ngForm" (ngSubmit)="submitForm(registrationForm.value)">
                <div class="form-group row">
                    <label for="fullname" class="col-sm-4 col-form-label">Full Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="fullname" placeholder="Enter full name" name="fullname" ngModel>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ngModel>
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label for="courses" class="col-sm-4 col-form-label">Select Course</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="courses" ngModel name="selectcourse">
                            <option selected>--Select Course--</option>
                            <option value="angular">Angular</option>
                            <option value="react">React</option>
                            <option value="node">Nodejs</option>
                          </select>
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Time Preference</legend>
                        <div class="col-sm-8">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="timepreference" id="timepreference1"  ngModel value="morning">
                                <label class="form-check-label" for="timepreference1">
                                    Morning Batch(9-11)AM
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="timepreference" id="timepreference2" ngModel value="evening">
                                <label class="form-check-label" for="timepreference2">
                                    Evening Batch(6-8)AM
                                </label>
                              </div>
                        </div>
                    </div>
                </fieldset>
                
                <div class="form-group row">
                    <div class="col-sm-4">Discounts Newsletter</div>
                    <div class="col-sm-8">
                        <input type="checkbox" class="form-check-input" id="discountnewsletter" ngModel name="discountnewsletter">
                    </div>
                </div>        
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
</div>