.form-group {
  margin-bottom: 1rem;
  font-family: ui-sans-serif;
}

.container {
  border: 1px solid cadetblue;
  padding: 50px;
  background: antiquewhite;
  font-family: ui-sans-serif;
}

.heading {
  text-align: center;
  padding: 20px;
  font-family: ui-sans-serif;
}
